/*general*/

body, html{
    padding: 0;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

/*header*/

header{
    background-color: #579c87;
    color: #fdcb46;
    font-weight: bold;
    font-family: 'breulgroteskA-regular';
    line-height: 150px;
    text-align: center;
    font-size: 55px
}

/*corp*/
#contenair{
    height: auto;
}

.menu1, .menu2, .menu3, .menu4{
    background-color: #fcdfdb;
    width: 530px;
    height: 750px;
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 100px;
    display: inline-flex;
    border-radius: 1%;
    box-shadow: 0.5px 0.5px 10px grey;
}

/*footer*/

.prochainement{
    background-color: #579c87;
    font-family: 'NoyhRW01-SemiLight';
    color: #fdcb46;
    font-size: 40px;
    border-radius: 5%;
    margin-bottom: 4%;
    width: 350px;
    line-height: 80px;
    margin: auto;
}

.prochainement p{
    margin-left: 6%;
}

footer{
    display: table-row;
    height: 1px;
    background-color: #579c87;
}