/*general*/

body, html{
    padding: 0;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

/*header*/

header{
    background-color: #579c87;
    color: #fdcb46;
    font-weight: bold;
    font-family: 'breulgroteskA-regular';
    line-height: 150px;
    text-align: center;
    font-size: 55px
}

/*corp*/
#contenair{
    height: auto;
    position: relative;
}
.menu1, .menu2, .menu3, .menu4{
    width: 530px;
    height: 750px;
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 100px;
    border-radius: 1%;
    box-shadow: 0.5px 0.5px 10px grey;
    display: inline-flex;
}
#music{
    padding-top: 45%;
    font-size: 130px;
    color: #f78f6a;
}
.note{
    font-size: 45px;
    font-family: 'DK carrot juice';
    margin-top: 0
}
.titre1{
    font-size: 50px;
    font-weight: bold;
}
.note, .titre1{
    color: #3c1218;
}
#music, .note, .titre1{
    display: flex;
    justify-content: center;
}
.menu1{
    background-color: #fcdfdb;
    display: block;
}
.titre1{
    font-family: 'segoe print';
}

.menu2{
    background-color: #fff5fe;
}

.menu3{
    background-color: #f9f9f9;
}

.menu4{
    background-color: #fdfffd;
}
/*footer*/

.prochainement{
    background-color: #579c87;
    font-family: 'NoyhRW01-SemiLight';
    color: #fdcb46;
    font-size: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 350px;
    line-height: 80px;
    margin: auto;
}

.prochainement p{
    margin-left: 6%;
}

footer{
    height: 1px;
    background-color: #579c87;
    display: table-row;
}