body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*header*/
.entete{
    width: 100%;
}
h1{
    font-size: 4em;
    text-align: center;
    margin: 0;
}
header{
    background-color: #579c87;
    font-family:'breulgroteskA-regular', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

header a{
    color: #fdcb46;
    text-decoration: none;
}

/*Corps*/
.note1er{
    display: flex;
    justify-content: center;
}

.border1 {
    display: inline-block;
    color: #d17200;
    text-decoration: none;
}

.border1::after {
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background: #d17200;
    transition: width .3s;
}

.border1:hover::after {
    width: 100%;
    transition: width .3s;
}

.border2 {
    display: inline-block;
    color: #ac6baf;
    text-decoration: none;
}

.border2::after {
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background: #ac6baf;
    transition: width .3s;
}

.border2:hover::after {
    width: 100%;
    transition: width .3s;
}

.border3 {
    display: inline-block;
    color: #905bfd;
    text-decoration: none;
}

.border3::after {
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background: #905bfd;
    transition: width .3s;
}

.border3:hover::after {
    width: 100%;
    transition: width .3s;
}

.premiertitre{
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

.menu2{
    width: 90%;
    height: 1650px;
    border-radius: 1%;
    box-shadow: 0.5px 0.5px 10px grey;
    background-color: #fff5fe;
    margin: 0 auto;
    margin-bottom: 20%;
}
.chic{
    font-size: 50px;
    font-family: 'croissant one';
    background-image: linear-gradient(to right, #d8852e, #be747e, #ac6baf, #905bfd);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-bottom: 7%;
}
.Titre-menu1, .Titre-menu2, .Titre-menu3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Titre-menu1 h3, .Titre-menu2 h3{
    font-family: 'segoe print', 'tillana'; 
    margin-top: 3%;
    font-size: 2em;
    color: #d17200;
}

.Titre-menu2 h3{
    color: #ac6baf;
}

.Titre-menu3 h3{
    color: #905bfd;
}

.entree li{
    color: #d17200;
}

.repas li{
    color: #ac6baf;
}

.dessert li{
    color: #905bfd;
}

h3{
    font-family: 'segoe print', 'tillana'; 
    margin-top: 3%;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    position: relative;
}
li{
    display: flex
}
li p{
    font-family: 'tillana';
    font-size: 1.3em;
}
.plat{
   margin-left: 10% 
}

.prix{
    margin-left: auto;
    margin-right: 5%;
}
/*footer*/

footer{
    background-color: #579c87;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contenair{
    color: #fdcb46;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'NoyhRW01-SemiLight', sans-serif;
}
.mention:hover, .p3:hover{
    -webkit-animation: wiggle 0.5s infinite;
}

footer a{
    color: #fdcb46;
    text-decoration: none;
}

/*keyframes*/

@-webkit-keyframes wiggle{
    0%{transform: translate(1px,1px);}
    10%{transform: translate(-1px,-1px);}
    20%{transform: translate(1px,1px);}
    30%{transform: translate(-1px,-1px);}
    40%{transform: translate(1px,1px);}
    50%{transform: translate(-1px,-1px);}
    60%{transform: translate(1px,1px);}
    70%{transform: translate(-1px,-1px);}
    80%{transform: translate(1px,1px);}
    90%{transform: translate(-1px,-1px);}
    100%{transform: translate(1px,1px);}
}

/*responsive*/

@media screen and (max-width:1200px)
{
    img{
        height: 30px;
    }
    .menu2{
        margin-bottom: 10%;
        height: 1800px
    }
    li{
        font-size: 1.3em;
    }
    .plat{
        margin-left: 2%
    }
}